.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}
.selected-style {
    font-weight: bold;
    text-align: center;
}
.registration-header {
    font-weight: bold;
    font-stretch: expanded;
    background-color: #f7e1b5;
}

.usa-states-select {}