.form-input {
    margin-bottom: 10px;
    margin-top: 10px;
}
.validation-message {
    display: none;
    font-style: normal;
    font-size: 20px;
    color: #FF1C19;
    margin-bottom: 5px;
    margin-top: 5px;
}
.selected-style {
    font-weight: bold;
    text-align: center;
}
.registration-header {
    font-weight: bold;
    font-stretch: expanded;
    background-color: #f7e1b5;
}

.usa-states-select {}

.state {
    background-color: #00e074;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.round-border {
    border: 3px solid red;
    border-radius: 15px;
    font-stretch: extra-expanded;
    color: red;
    margin-left: 10px;
    width: 5px;
    height: 5px;
}