<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" href="bootstrap3.3.7/css/bootstrap.css"/>
    <script src="js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/inner-styles.css}">
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/logout}" method="get">
        <input type="submit" class="btn btn-md btn-danger btn-block" name="logout" value="Logout">
    </form>
    <br>
    <div class="col-md-2">
        <div><h4>HELLO <span th:utext="${customer.login.toUpperCase()}"></span></h4></div>
<!--        <div th:if="${customer.login.toLowerCase().equals('guest')}" th:utext="Youre not capable of anything on this page">L</div>-->
    </div>
    <br>
    <div>
        <a href="swagger" target="_blank" class="swagger-link">swagger</a>
        <a href="#" target="_blank" class="swagger-link">Edit Your Profile</a>
        <div sec:authorize="hasAuthority('ADMIN')">
            <!-- NOT IMPLEMENTED YET -->
            <a href="admin-page" class="swagger-link">admin access only</a>
        </div>
        <!--<div><span sec:authorize="hasAuthority('ADMIN')">ADMIN notation</span></div>-->
    </div>
    <br>
    <hr>
    <br>
    <div id="view-profile-error-text" style="display: none"></div>
    <button id="view-profile" class="btn btn-lg btn-primary btn-block" style="max-width: 50%">View Profile</button>

</div>
<script src="js/main.js"></script>
<script src="js/index.js"></script>
</body>
</html>