<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Store Login</title>
    <link rel="stylesheet" type="text/css" href="bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <!--<link rel="icon" type="image/png" href="favicon.ico"/>-->
    <!--href="../static/favicon.ico"-->
    <script src="js/jquery-3.3.1.js"></script>
</head>

<body>
<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">
    <fieldset>
        <legend>Login page</legend>
        <form th:action="@{/login}" method="POST" style="max-width: 50%">
<!--            <h3 th:text="Welcome"></h3>-->
            <br/>

            <input type="text" id="login" name="login" th:placeholder="Login"
                   class="form-control"/> <br/>
            <input type="password" th:placeholder="Password"
                   id="password" name="password" class="form-control"/> <br/>

            <div align="center" th:if="${param.error}">
                <p style="font-size: 20px; color: #FF1C19;">Login or Password invalid, please verify</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="Login"></button>
        </form>
    </fieldset>
    <br><br>
    <button id="free-access" class="btn btn-lg btn-primary btn-block" style="max-width: 50%">Enter without login</button>

</div>

<script src="js/login.js"></script>
</body>
</html>