<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/modal.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="js/jquery-3.3.1.js"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <fieldset>
        <legend>Registration Form</legend>
        <div class="row">
            <form autocomplete="off" action="#" method="POST" role="form">
<!-- ******************************** the left half of the page -->
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-9 form-input">
                            <div id="login-error" class="validation-message"></div>
                            <input type="text" placeholder="Login" id="login" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 form-input">
                            <div id="password-error" class="validation-message"></div>
                            <input type="password" id="password" placeholder="Password" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 form-input">
                            <div id="name-error" class="validation-message"></div>
                            <input type="text" id="name" placeholder="First Name" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 form-input">
                            <div id="surname-error" class="validation-message"></div>
                            <input type="text" id="surname" placeholder="Last Name" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 form-input">
                            <div id="email-error" class="validation-message"></div>
                            <input type="text" id="email" placeholder="Email" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <div id="country-select-error" class="validation-message"></div>
                            <select id="country-select" class="col-sm-6 col-sm-offset-2 form-input">
                                <option value="" class="selected-style" selected>Select Your Country</option>
                                <option value="USA">USA</option>
                                <option value="Canada">Canada</option>
                            </select>
                        </div>
                    </div>
<!--                    SELECT for USA states selection-->
                    <div class="form-group">
                        <div id="us-select" class="col-sm-9" style="display: none">
                            <label for="usa-states-select">
                                Select at least three states that border with yours
                            </label>
                            <div id="usa-states-select-error" class="validation-message"></div>
                            <select id="usa-states-select" class="col-sm-6 col-sm-offset-2 form-input" style="display: none">
                                <option value="" class="selected-style" disabled selected>Select states</option>
                            </select>
                        </div>
                    </div>
                    <!--                    SELECT and INPUT for Canada province and city selection-->
                    <div id="canadian-province-selection" style="display: none">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label for="canada-province-select" id="label-for-canada-province-select">Select your province</label>
                                <div id="canada-province-select-error" class="validation-message" style="display: none"></div>
                                <select id="canada-province-select" class="col-sm-6 col-sm-offset-2 form-input">
                                    <option value="" class="selected-style" disabled selected>Select your province</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label for="canada-city" id="label-for-canada-city">Please input your city</label>
                                <div id="canada-city-error" class="validation-message" style="display: none"></div>
                                <input type="text" id="canada-city" placeholder="City" class="col-sm-6 col-sm-offset-2 form-input"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" id="submit-button" class="btn btn-primary btn-block form-input">Register Customer</button>
                        </div>
                    </div>

                    <div id="success-message" class="text-success col-sm-9" style="display: none"></div>
                </div>
<!-- ********************************* the right half of the page -->
                <div class="col-md-6">
<!--                    see registration.js listenSelectOnchange()-->
                    <div id="usa-state-selection"  class="col-md-12 col-md-offset-1 form-input" style="display: none">
                        <div class="col-md-12 registration-header">The states you chose</div>
                    </div>

<!--                    <div id="canadian-province-selection" class="form-input" style="display: none">-->

<!--                    </div>-->
                </div>
            </form>
        </div>
    </fieldset>
    <div class="modal">
        <button class="modal-close">x</button>
        <div class="modal-window">

        </div>
    </div>
</div>
    <script src="js/registration.js"></script>
    <script src="js/us-states-array.js"></script>
    <script src="js/canada-province-array.js"></script>


</body>
</html>