<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="bootstrap3.3.7/css/bootstrap.css"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <fieldset>
        <legend>Registration Form</legend>
        <div class="row">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${customer}" method="post" class="form-horizontal"
                  role="form">
<!-- ******************************** the left half of the page -->
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                                   class="validation-message"></label>
                            <input type="text" th:field="*{login}" placeholder="Login"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="validation-message"></label>
                            <input type="password" th:field="*{password}"
                                   placeholder="Password" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
                               class="validation-message"></label>
                        <!--                        <label for="country-select" class="col-sm-offset-2">Select_Your_Country</label>-->
                        <select th:field="*{country}" id="country-select" class="col-sm-6 col-sm-offset-2">
                            <!--                                <option th:value="a" th:text="Select_Your_Country" th:disabled="disabled" th:selected="true"></option>-->

                            <!--    this option has null value, so will be constrained by @NotEmpty String country in Customer class -->
                            <option value="" class="selected-style" selected>Select Your Country</option>
                            <option id="usa" th:value="USA" th:text="USA"></option>
                            <option id="canada" th:value="Canada" th:text="Canada"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="usa-states-select" class="usa-states-select" style="display: none">
                            Select at least three states that border with yours</label>
                            <select id="usa-states-select" class="col-sm-6 col-sm-offset-2" style="display: none">
<!--                                    th:field="${contact.states}">-->
<!--                                <option th:value="Nebraska" th:text="Nebraska"></option>-->
<!--                                <option th:value="Arisona" th:text="Arisona"></option>-->
                            </select>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Register Customer</button>
                        </div>
                    </div>

                    <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
                </div>
<!-- ********************************* the right half of the page -->
                <div class="col-md-6">
<!--                    see registration.js listenSelectOnchange()-->
                    <div id="usa-state-selection"  class="col-md-12 col-md-offset-1" style="display: none">

                        <div class="col-md-12 registration-header">The states you chose</div>
<!--                        this is the CRUTCH to fill states list from model-->
                        <input id="crutch-input" type="text" style="display: none" th:field="${contact.crutch}">
                    </div>

                    <div id="canadian-province-selection" style="display: none">Hi from Canada</div>
                </div>
            </form>
        </div>
    </fieldset>

    <script src="js/registration.js"></script>
</div>

</body>
</html>